body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Basic reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Full-page background */
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url('img/IMG_0884.jpeg'); /* Add your image URL here */
            background-size: cover;   /* Make the background cover the entire page */
            background-position: center;  /* Center the background image */
            background-repeat: no-repeat; /* Prevent the image from repeating */
        }

        /* Content area */
        .content {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(240, 240, 240, 0.7);  /* Slightly transparent background to allow image to show through */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 100%;
        }

        .page {
            display: none;
            width: 100%;
            text-align: center;
        }

        .active {
            display: block;
        }

        /* Bottom app bar */
        .app-bar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #333;
            padding: 20px 0;  /* Increased padding for a taller app bar */
            height: 80px;
        }

        .app-bar i {
            font-size: 25px;
            color: white;
            transition: color 0.3s;
        }

        .app-bar i:hover {
            color: #f0f0f0;
        }
